//====================== Font ======================
$font: 'Montserrat', sans-serif;
$light: 300;
$regular: 400;
$bold: 700;

//====================== Colors ======================
$black: #000;
$grey: #4E5150;
$grey2: #828282;
$grey3: #BDBDBD;
$grey4: #E0E0E0;
$grey5: #F2F2F2;
$white: #fff;
$orange: #F2994A;

//====================== Querie ======================
$phone: 300px;
$tablet: 768px;
$desktop: 1200px;

//====================== espacio ======================
$espacio: 5rem;